/*
 * Test configuration with direct key positions for Totem keyboard
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Simple layout with keys in test positions
            bindings = 
            &none  &kp N1      &kp N2      &kp N3        &kp N4       &kp N5       /**/ &kp N6       &kp N7       &kp N8        &kp N9      &kp N0       &none
            &none  &kp Q       &kp W       &kp E         &kp R        &kp T        /**/ &kp Y        &kp U        &kp I         &kp O       &kp P        &none
            &none  &kp A       &kp S       &kp D         &kp F        &kp G        /**/ &kp H        &kp J        &kp K         &kp L       &kp SEMI     &none
                                            &kp Z        &kp X        &kp C        /**/ &kp V        &kp B        &kp N
            >;
        };
    };
};
