/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = 
            <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>,
            <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>,
            <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>,
            <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>, <&none>
            >;
        };
    };
}
